.sortable {
    cursor: pointer;
    color: rgb(223, 223, 75);
}

.warning {
    background-color: #f2db08;
}

table {
  color: #51accf;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #f38a44;
  
}

.header-row {
    background: #e2ba07;
    color: rgb(234, 238, 240)
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}